form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.display-div {
  /* border: 1px solid red; */
}